body{
    margin: 0;
    font-family: "Poppins", sans-serif;

}

h1{
    font-size: 48px;
    color: rgb(29, 29, 29);
}
.name{
    color:tomato;
}

.up-side{
    width: 40%;
    float: left;
    margin: 5%;

}
.up-side img{
    width: 100%;
}
section{
    height: 800px;
    background: url("images/Bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.link-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
    
    
}

